<%- include("partials/header") -%>

    <h1>
        <%= pageTitle %>
    </h1>
    <p>
        <%= pageParagraph %>
    </p>

    <% console.log(posts); %>

        <!-- <% for(let i=0;i< posts.length;i++){ %>
        <% console.log(posts[i].title); %>
        <% }; %> -->

    <% posts.forEach(element=>{ %>

        <h1> <%= element.title %> </h1>
        <p> <%= element.content %> </p>
    <% }); %>

    <%- include("partials/footer") -%>